<div class={{routeStyleNamespaceClassSet}}>
  {{glitchy-canvas id='glitchy-background'}}

  <nav>
    {{#bs-nav dropdownComponent='bs-nav/dropdown' as |nav|}}
      {{#nav.item}}{{nav.link-to 'Home' 'home'}}{{/nav.item}}
      {{#nav.item}}{{nav.link-to 'How I Work' 'home'}}{{/nav.item}}

      {{#each navCollections as |collection|}}
        {{#nav.dropdown tagName='li' closeOnMenuClick=true as |dd|}}
          {{#dd.toggle onClick=(action preventDefault)}}{{link-to collection.name 'content.collection' collection.model}}{{/dd.toggle}}

          {{#dd.menu as |child|}}
            {{#each collection.model.items as |item|}}
              {{#child.item}}
                {{#child.link-to 'content.item' item}}
                  {{item.yaml.title}}
                {{/child.link-to}}
              {{/child.item}}
            {{/each}}
          {{/dd.menu}}
        {{/nav.dropdown}}
      {{/each}}
    {{/bs-nav}}
  </nav>

  <main>
    {{outlet}}
  </main>

  <footer>
    copyright {{moment-format today 'YYYY'}} aidan nulman.
    photo by eva blue.
    contact me.
  </footer>
</div>
