{{glitchy-canvas id='glitchy-background'}}

{{#nav-bar isShowing=true as |nav|}}
  {{#nav.collection as |bar|}}
    {{bar.item 'Home'}}
    {{bar.item 'How I Work'}}
    {{#bar.item 'Open Source' as |item|}}
      {{#with (find hyde.collections by='id' value='content/open-source') as |collection|}}
        {{item.trigger href=(concat '/collections/' (path-for-hyde collection))
          onTransition=(action transitionToRoute 'content.collection' collection)}}

        {{#item.children as |sub|}}
          {{#each collection.items as |hydeItem|}}
            {{#sub.item hydeItem.yaml.title as |subItem|}}
              {{subItem.trigger href=(concat '/' (path-for-hyde hydeItem))
                onTransition=(action transitionToRoute 'content.item' hydeItem)}}
            {{/sub.item}}
          {{/each}}
        {{/item.children}}
      {{/with}}
    {{/bar.item}}

    {{#bar.item 'Clients' as |item|}}
      {{#with (find hyde.collections by='id' value='content/clients') as |collection|}}
        {{item.trigger href=(concat '/collections/' (path-for-hyde collection))
          onTransition=(action transitionToRoute 'content.collection' collection)}}

        {{#item.children as |sub|}}
          {{#each collection.items as |hydeItem|}}
            {{#sub.item hydeItem.yaml.title as |subItem|}}
              {{subItem.trigger href=(concat '/' (path-for-hyde hydeItem))
                onTransition=(action transitionToRoute 'content.item' hydeItem)}}
            {{/sub.item}}
          {{/each}}
        {{/item.children}}
      {{/with}}
    {{/bar.item}}
  {{/nav.collection}}
{{/nav-bar}}

{{#nav-bar id='banner' isShowing=false}}
  Click me for friendly
{{/nav-bar}}

<main>
  {{outlet}}
</main>

<footer>
  copyright {{moment-format today 'YYYY'}} aidan nulman.
  photo by eva blue.
  contact me.
</footer>
